* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: relative;
}

.nav-uk {
    width: 100%;
    text-align: center;
    background-color: white;
    height: 12vh;
    box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
}

.margin-brand {
    margin-left: 130px;
}

.margin-nav {
    margin-left: 30px;
}

.margin-ul {
    margin-left: 550px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.navbar-nav {
    color: black !important;
}

.navbar-item:hover {
    transition: 0.6s;
}

.background-button {
    background-color: #00bfd8;
    color: white;
    font-size: 20px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

.background-button:hover {
    background-color: rgba(30, 190, 30, 0.877);
}

.ukuran-gambar {
    width: 85%;
    height: 350px;
    border-radius: 30px;
}

.font-custom {
    text-align: center;
    color: #000000;
    font-size: 45px;
    font-style: italic;
}

.number-custom {
    text-align: center;
    color: #00bfd8;
    font-size: 45px;
    font-style: italic;
}

.span-cus {
    text-align: center;
    color: grey;
    font-size: 20px;
}

.about-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 35px;
    margin-left: 15px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.about-content {
    color: grey;
    font-size: 22px;
}

.font-price {
    color: rgb(153, 153, 153);
    font-size: 14px;
    text-align: center;
}

.cell-divide-hr {
    width: 85%;
    margin-left: 20px;
}

.card-body {
    height: 94vh;
}

.card-body-paket {
    height: 80vh;
}

.card-title {
    margin-top: 15px;
}

.page-scroll {
    background-color: #00bfd8;
    color: white;
    font-size: 15px;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 95px;
}

.page-scroll:hover {
    background-color: rgba(30, 190, 30, 0.877);
}

.page-scrollpaket {
    background-color: #00bfd8;
    color: white;
    font-size: 15px;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    margin-top: 45px;
    margin-left: 125px;
}

.page-scrollpaket:hover {
    background-color: rgba(30, 190, 30, 0.877);
}

.page-scroll-request {
    background-color: #00bfd8;
    color: white;
    font-size: 20px;
    border: none;
    width: 450px;
    height: 40px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 45px;
}

.page-scroll-request:hover {
    background-color: rgba(30, 190, 30, 0.877);
}

.media-body {
    margin-top: 10px;
}

.button-cus {
    width: 530px !important;
    border-radius: 100px;
    margin-left: -270px;
    background-color: #00bfd8;
    border: none;
}

.form-custom {
    height: 65px;
    margin-top: 10px;
}

.div-custom {
    background-color: #00bfd85e;
}

.email {
    color: #00bfd8;
    text-decoration: none;
}

.email:hover {
    text-decoration: none;
    color: rgba(30, 190, 30, 0.877);
}

.font-custom a {
    text-decoration: none;
    color: black;
}

.font-ori {
    font-size: 25px;
    margin-left: 70px;
}

.font-orirequest {
    font-size: 25px;
    margin-left: 5px;
}

.request {
    border: none;
    border-bottom: 2px solid #00bfd8;
}

.request:hover {
    border-bottom: 4px solid rgba(30, 190, 30, 0.877);
    border-radius: none;
}

.kembali {
    color: #00bfd8;
    margin-left: 260px;
    font-size: 14px;
}

.kembali:hover {
    text-decoration: none;
    color: rgba(30, 190, 30, 0.877);
}

.paket-bersihin {
    color: black;
}

.paket-bersihin:hover {
    text-decoration: none;
    color: #00bfd8;
}

.date {
    border: none;
    border-bottom: 2px solid #00bfd8;
}

.date:hover {
    border-bottom: 4px solid rgba(30, 190, 30, 0.877);
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    /* color: #00bfd8 !important; */
    border-bottom: 2px solid #00bfd8 !important;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 10px;
    font-size: 20px;
}

.date-checkout {
    border: none;
    border-bottom: 2px solid #00bfd8;
    width: 240px;
    margin-left: 50px;
}

.text-chechout {
    margin-left: 50px;
    font-size: 15px;
}

.text-chechoutleft {
    font-size: 15px;
    color: rgb(121, 118, 118);
}

.kembali-checkout {
    color: #00bfd8;
    margin-left: 210px;
    font-size: 14px;
}